
	<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/bower_components/sweetalert2/dist/sweetalert2.min.js"></script>
	<script src="/js/main.js"></script>
</body>
</html>
