  <!--脚注-->
  <div class="row">
    <footer class="text-center">
      <hr>
      <h4>Excel填表开发者@2017</h4>
    </footer>
  </div>
</div>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/bootstrap-fileinput/js/fileinput.min.js"></script>
<script src="/bower_components/sweetalert/dist/sweetalert.min.js"></script>
<script src="/js/main.js"></script>

</body>
</html>
