<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	 <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Excel 助手登录</title>
	 <link href="/css/main.css" rel="stylesheet">
</head>
<body>
	 <div class="login-container">
		<h1>身份验证</h1>
	  <form method="POST" action="/download">
			<input type="text" name="phone" placeholder="请输入手机号">
			<input type="password" name="pass" placeholder="请输入密码">
			<input type="submit" name="login" class="login login-submit" value="确认">
	  </form>
	</div>
</body>
</html>